<div class="container">
  <form (ngSubmit)="save()" [formGroup]="formGroup">
    <div class="flex">
      <div>
        <mat-form-field>
          <mat-label>Movie Name</mat-label>
          <input matInput formControlName="name" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Director</mat-label>
          <input matInput formControlName="director" required>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <button type="submit" mat-raised-button color="primary">{{editing === false ? 'Create' : 'Update'}}</button>
        <button (click)="cancel()" type="button" mat-raised-button color="accent">Cancel</button>
      </div>
    </div>
  </form>
  <table mat-table [dataSource]="movies$ | async">
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>
    
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let row" >
            <button (click)="editHandler(row)" mat-raised-button color="accent">Edit</button> 
            <button (click)="delete(row.id)" mat-raised-button color="warn">Delete</button> 
        </td>
    </ng-container> 

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    
  </table>
</div>

<!-- 
<tbody>
    <tr *ngFor="let movie of movies$ | async">
      <td>{{ movie.name }}</td>
      <td>{{ movie.director }}</td>
      <td>
        <button (click)="editHandler(movie)" type="button" class="btn btn-secondary">Edit</button>
        <button (click)="delete(movie.id)" type="button" class="btn btn-danger ml-2">Delete</button>
      </td>
    </tr>
  </tbody> -->