.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
table {
  width: 100%;
}
th {
    text-transform: uppercase;
}
button {
    margin: 8px 4px;
}
mat-form-field{
    width: 100%;
}
.flex {
    display: flex;
    flex-direction: column;

    justify-content: center;
    > div {
        margin: 8px;
    }
}

@media (min-width: 768px) {
  .flex {
    flex-direction: row;
  }
}
